p {
    width:50%;
    border: 2px solid  rgb(188, 72, 72); 
    border-radius: 8px;
    margin: 15px;
    padding: 25px; 
}

.blue{
    width: 75%;
    border: 2px solid blue;
    border-radius:8px ;
    margin: 20px;
    padding: 20px;
    background-color: lightgoldenrodyellow ;
}

p img {
    width: 100px;
}

p img:hover{
    border: 1px solid red;
    box-shadow: 4px 5px 3px grey;
    border-radius: 50%;
}
.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .bottom p {
    border: 2px solid lightcoral;
    background-color: rgb(165, 233, 235);
    box-shadow: 4px 6px 3px rgb(20, 6, 213);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}